body{ 
background-color: rgb(0, 0, 0);
margin-left: 8%;
margin-right: 8%;
margin-top: 2%;
}

#menu{
    background-color: rgb(134, 34, 34);
}
ul {
    width:100%; 
    float:top; 
    text-align:center; 
}
li {
    display: inline-block;
    list-style:none;
}
li .mymenu {
   font-family: 'open_sansbold';
   font-size:1.6em;
   text-decoration: none;
   color:#4c4c4c;
   -webkit-border-box: 0 1px 0 0 #4c4c4c;
   border-bottom: 4px solid transparent;
   -webkit-transition: border-bottom .3s linear;
}
li .mymenu:hover {
    
    border-bottom:4px solid #4c4c4c;
}

h1{
    color: silver;
}
p{
    color: silver
}


